@import 'tailwindcss';

/* hsl(227, 95%, 49%) */
/* hsl(200, 33%, 94%) */
/* hsl(240, 15%, 4%) */

@theme inline {
  /* Colors */
  --color-background: hsl(200, 33%, 94%);
  --color-foreground: hsl(240, 15%, 4%);
  --color-primary: hsl(227, 95%, 49%);
  --color-secondary: #ff4081;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  /* Typography */
  --font-body: var(--font-inter);
  --font-mono: var(--font-inconsolata);

  /* Spacing */
  --spacing-unit: 0.25rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Border radius */
  --radius-sm: 0.125rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-full: 9999px;
}

@keyframes marquee {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* You can also add custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
    will-change: transform;
  }
}

@layer base {
  body {
    @apply text-foreground font-body bg-background w-dvw overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tighter;
  }

  a {
    @apply hover:text-foreground/95 text-foreground/70 transition-colors;
  }
}
